<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"><img src="assets/icons/d.png"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" routerLink="/">{{"Inicio"|translate}}</a>
          <a class="nav-link" routerLink="/new">{{"Nueva nota"|translate}}</a>
          <a class="nav-link" routerLink="/about">{{"Acerca de"|translate}}</a>
          <li class="nav-item dropdown" *ngIf="this.loginS.user">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{"Cuenta"|translate}}
            </a>
            <ul class="dropdown-menu" >
              <li>   <span style="padding:10px;">{{this.loginS.user!.name}}</span></li>
              <li>   <span style="padding:10px;">{{this.loginS.user!.email}}</span></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#" (click)="logout()" > {{"Cerrar sesión"|translate}} </a></li>
            </ul>
          </li>
          <button [ngClass]="['languageButton']">
            <ng-container *ngIf="language === 'es'">
              <img src="assets/icons/united-kingdom-svgrepo-com.svg" (click)="changeLanguage('en')">
            </ng-container>
            <ng-container *ngIf="language === 'en'">
              <img src="assets/icons/spain-svgrepo-com.svg" (click)="changeLanguage('es')">
            </ng-container>
          </button>
        </div>

      </div>

    </div>


  </nav>
