<div [ngClass]="['row']">
  <div [ngClass]="['side','col-3']">
    <h3>HABILIDADES</h3>
    <div [ngClass]="['skillContainer']">
      <div [ngClass]="['skill']">Sentido de equipo</div>
      <div [ngClass]="['skill']">Empatía</div>
      <div [ngClass]="['skill']">Resiliencia</div>
      <div [ngClass]="['skill']">Asertividad</div>
      <div [ngClass]="['skill']">Resolutivo</div>
      <div [ngClass]="['skill']">Liderazgo</div>
      <div [ngClass]="['skill']">Disciplinado</div>
      <div [ngClass]="['skill']">Honestidad</div>
      <div [ngClass]="['skill']">Responsabilidad</div>
    </div>
    <h3>COMPETENCIAS</h3>
    <div [ngClass]="['skillContainer']">
        <div [ngClass]="['skill']">JAVA</div>
      <div [ngClass]="['skill']">HTML</div>
      <div [ngClass]="['skill']">CSS</div>
      <div [ngClass]="['skill']">LaTex</div>
      <div [ngClass]="['skill']">JavaScript</div>
      <div [ngClass]="['skill']">TypeScript</div>
      <div [ngClass]="['skill']">C</div>
      <div [ngClass]="['skill']">C++</div>
      <div [ngClass]="['skill']">AWS - EC2</div>
      <div [ngClass]="['skill']">Docker</div>
      <div [ngClass]="['skill']">SQL</div>
      <div [ngClass]="['skill']">Entornos Linux</div>
      <div [ngClass]="['skill']">SASS - SCSS</div>
      <div [ngClass]="['skill']">Angular</div>
      <div [ngClass]="['skill']">Ionic</div>
      <div [ngClass]="['skill']">Springboot</div>
      <div [ngClass]="['skill']">SAGE</div>
      <div [ngClass]="['skill']">Git</div>
      <div [ngClass]="['skill']">Kotlin</div>
      <div [ngClass]="['skill']">Android Studio</div>
    </div>
    <h3>LENGUAJES</h3>
      <h4>Español: <span>Nativo</span>  </h4>
    <hr [ngStyle]="{'border-style':'dotted'}"/>
      <h4>Inglés: <span>C1 Cambridge</span>  </h4>
    <h3>PROYECTOS INTERESANTES</h3>
      <h5><a href="https://github.com/juanmirivas8/BrainChad">BrainChad <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
      </svg></a>  -
        <span> Un juego de preguntas y respuestas en tiempo real, desarrollado con JAVA y JAVAFX.</span>
      </h5>

    <h5><a href="https://github.com/juanmirivas8/ChatJVA">ChatJVA  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
    </svg></a> -
      <span> Chat simple con refresco en tiempo real, implementado con sockets en JAVA y JAVAFX</span>
    </h5>
  </div>

  <div [ngClass]="['main','col-9']">
    <h1>JUAN MIGUEL RIVAS VELASCO</h1>
    <h6>Estudiante de Desarrollo de Aplicaciones Multiplataforma</h6>

    <div [ngClass]="['contact']">
      <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
      <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
      </svg> juanmirivas8@gmail.com</span> <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
      </svg> 648287448</span> <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-signpost-2-fill" viewBox="0 0 16 16">
      <path d="M7.293.707A1 1 0 0 0 7 1.414V2H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h5v1H2.5a1 1 0 0 0-.8.4L.725 8.7a.5.5 0 0 0 0 .6l.975 1.3a1 1 0 0 0 .8.4H7v5h2v-5h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H9V6h4.5a1 1 0 0 0 .8-.4l.975-1.3a.5.5 0 0 0 0-.6L14.3 2.4a1 1 0 0 0-.8-.4H9v-.586A1 1 0 0 0 7.293.707z"/>
      </svg> Fernán Núñez - Córdoba</span>
      <a href="https://github.com/juanmirivas8"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
      </svg> juanmirivas8</a> <a href="https://www.linkedin.com/in/juanmirivas8/"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
      <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
      </svg> juanmirivas8</a>
    </div>

    <h3>SOBRE MÍ</h3>
    <p [ngClass]="['sobreMi']">Soy un estudiante de Desarrollo y antiguo estudiante de Ingeniería Informática antes de la pandemia, apasionado de la tecnología y cómo ésta nos
      ayuda en nuestro día a día y a progresar como sociedad. Busco seguir creciendo como persona, tanto por curiosidad e inquietud propia no dejando
      nunca de formarme de forma autónoma; como profesionalmente, entrando en el mercado laboral con ganas de demostrar mis habilidades a la par que
      aprendiendo como ser un buen profesional de los compañeros que me rodeen en un futuro.</p>
    <h3>EDUCACIÓN</h3>

    <div [ngClass]="['education']">
      <p>Bachillerato Ciencias y Tecnología - <span>IES Francisco de los Ríos</span></p>
      <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-signpost-2-fill" viewBox="0 0 16 16">
      <path d="M7.293.707A1 1 0 0 0 7 1.414V2H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h5v1H2.5a1 1 0 0 0-.8.4L.725 8.7a.5.5 0 0 0 0 .6l.975 1.3a1 1 0 0 0 .8.4H7v5h2v-5h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H9V6h4.5a1 1 0 0 0 .8-.4l.975-1.3a.5.5 0 0 0 0-.6L14.3 2.4a1 1 0 0 0-.8-.4H9v-.586A1 1 0 0 0 7.293.707z"/>
      </svg> Fernán Núñez - Córdoba</p>
      <ul>
        <li>Nota media: 7,37</li>
      </ul>
    </div>

    <div [ngClass]="['education']">
      <p>Ingeniería Informática (hasta 3er Curso) - <span>Universidad de Córdoba</span></p>
      <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-signpost-2-fill" viewBox="0 0 16 16">
        <path d="M7.293.707A1 1 0 0 0 7 1.414V2H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h5v1H2.5a1 1 0 0 0-.8.4L.725 8.7a.5.5 0 0 0 0 .6l.975 1.3a1 1 0 0 0 .8.4H7v5h2v-5h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H9V6h4.5a1 1 0 0 0 .8-.4l.975-1.3a.5.5 0 0 0 0-.6L14.3 2.4a1 1 0 0 0-.8-.4H9v-.586A1 1 0 0 0 7.293.707z"/>
      </svg> Córdoba - Córdoba</p>
      <ul>
        <li>Introducción a la Programación: 7.5</li>
        <li>Metodología de la Programación: 8.3</li>
        <li>Fundamentos y estructura de Computadores: 5.5</li>
        <li>Cálculo: 7</li>
        <li>Álgebra Lineal: 5</li>
        <li>Matemática Discreta: 5</li>
        <li>Estadística: 8.6</li>
        <li>Física: 8.8</li>
        <li>Circuitos y Sistemas Electrónicos: 6.5</li>
        <li>Economía y Administración de Empresas: 6.8</li>
        <li>Estructuras de Datos: 6.8</li>
        <li>Sistemas de Información: 8.5</li>
        <li>Arquitectura de Redes: 5.7</li>
        <li>Programación Orientada a Objetos: 8.5</li>
        <li>Algoritmica: 5</li>
        <li>Legislación y Estandarización: 5.6</li>
      </ul>
    </div>

    <div [ngClass]="['education']">
      <p>Certificate in Advance English (C1) - <span>Academia Británica Trassierra</span></p>
      <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-signpost-2-fill" viewBox="0 0 16 16">
        <path d="M7.293.707A1 1 0 0 0 7 1.414V2H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h5v1H2.5a1 1 0 0 0-.8.4L.725 8.7a.5.5 0 0 0 0 .6l.975 1.3a1 1 0 0 0 .8.4H7v5h2v-5h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H9V6h4.5a1 1 0 0 0 .8-.4l.975-1.3a.5.5 0 0 0 0-.6L14.3 2.4a1 1 0 0 0-.8-.4H9v-.586A1 1 0 0 0 7.293.707z"/>
      </svg> Córdoba - Córdoba</p>
      <ul>
        <li>Puntuación total: 195</li>
      </ul>
    </div>

    <div [ngClass]="['education']">
      <p>CFGS Desarrollo Aplicaciones Multiplataforma - <span>IES Francisco de los Ríos</span></p>
      <p><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-signpost-2-fill" viewBox="0 0 16 16">
        <path d="M7.293.707A1 1 0 0 0 7 1.414V2H2a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h5v1H2.5a1 1 0 0 0-.8.4L.725 8.7a.5.5 0 0 0 0 .6l.975 1.3a1 1 0 0 0 .8.4H7v5h2v-5h5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H9V6h4.5a1 1 0 0 0 .8-.4l.975-1.3a.5.5 0 0 0 0-.6L14.3 2.4a1 1 0 0 0-.8-.4H9v-.586A1 1 0 0 0 7.293.707z"/>
      </svg> Fernán Núñez - Córdoba</p>
      <ul>
        <li>Media primer año: 10</li>
        <li>Media Segundo año: - en curso</li>
      </ul>
    </div>



  </div>
</div>
